In [ ]:
api_key = vn.get_api_key('my-email@example.com')
vn.set_api_key(api_key)

In [1]:
import vanna as vn
from dotenv import load_dotenv
import os

In [2]:
load_dotenv()
os.environ['REQUESTS_CA_BUNDLE'] = 'cert.crt'
vn.set_api_key(os.environ.get("VANNA_API_KEY"))

In [5]:
# Set Your Model (Choose a unique model name)
#vn.set_model('GEN-AI-model',db_)
vn.create_model(model='esp_model',db_type="SQL_SERVER")

False

In [3]:
vn.get_models()

['gen-ai-model',
 '1234',
 'esp_model',
 'demo-tpc-h',
 'tpc',
 'chinook',
 'thelook']

In [4]:
from sql_execution import execute_sql_query
vn.set_model('esp_model')
vn.run_sql = execute_sql_query
vn.run_sql_is_set = True

In [12]:
# The information schema query may need some tweaking depending on your database. This is a good starting point.
df_information_schema = vn.run_sql("SELECT TABLE_CATALOG, TABLE_SCHEMA,TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS")

# This will break up the information schema into bite-sized chunks that can be referenced by the LLM
plan = vn.get_training_plan_generic(df_information_schema)
plan

# If you like the plan, then uncomment this and run it to train
vn.train(plan=plan)

In [7]:
# At any time you can inspect what training data the package is able to reference
training_data = vn.get_training_data()
training_data

,id,training_data_type,question,content
0,64160-doc,documentation,None,DMDTYPE=1 (Customer Order):- DMDTYPE=1 specifi...
1,68275-sql,sql,give me the underutilised resources for decemb...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
2,68299-sql,sql,give me the count of items for which the reso...,SELECT COUNT(DISTINCT ITEM) AS UNDERUTILIZED_I...
3,92452-sql,sql,Can I see the complete details of demand satif...,"SELECT B.*, ROUND(A.METQTY,0) AS METQTY, ROUND..."
4,68290-sql,sql,Show me the MOST underutilised resources for V...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
5,64157-doc,documentation,None,The following columns are in the INDDMDVIEW ta...
6,96360-sql,sql,Can you please check is there any Unmet Demend...,"SELECT ITEM, SUM(QTY) AS UNMET_DEMAND\nFROM IN..."
7,68354-sql,sql,give me all the columns and datatype of BOM TABLE,"SELECT COLUMN_NAME, DATA_TYPE\nFROM INFORMATIO..."
8,20059-ddl,ddl,None,\n CREATE TABLE dbo.sourcing (\n ITEM va...
9,68258-sql,sql,Show me the MOST underutilised resources for a...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
10,68293-sql,sql,Show me the MOST underutilised resources for 1...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
11,92523-sql,sql,Can you give the exact Resources on which CRFH...,"SELECT A.LOC, A.RES AS RESOURCE, A.STARTDATE, ..."
12,64170-doc,documentation,None,Underutilization Criteria:Resources are consid...
13,68365-sql,sql,Can you show the sourcing information for each...,"SELECT ITEM, DEST, SOURCE, SOURCINGCOST, B_TRA..."
14,68341-sql,sql,"What are the catalog, schema, table name, colu...","SELECT TABLE_CATALOG, TABLE_SCHEMA,TABLE_NAME,..."
15,92321-sql,sql,"Give me the need quantity, met quantity and Fi...","SELECT B.*, ROUND(A.METQTY,0) AS METQTY, ROUND..."
16,68253-sql,sql,Show me the resource utilization for all the p...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
17,68335-sql,sql,What is the meaning of the DMDTYPE column in t...,No SELECT statement could be found in the SQL ...
18,96370-sql,sql,Can you please check is there any Unmet Demand...,"SELECT ITEM, SUM(QTY) AS UNMET_DEMAND\nFROM IN..."
19,64156-doc,documentation,None,The following columns are in the BOM table in ...
20,92533-sql,sql,Can we get different cust order order fill rat...,"SELECT B.*, ROUND(A.METQTY,0) AS METQTY, ROUND..."
21,68268-sql,sql,Can you please give me the entire supply link ...,"WITH HierarchyLvl(item, subord, loc) AS (SELEC..."
22,68262-sql,sql,CAN YOU GIVE THE EXACT RESOURCE NAMES ON WHICH...,"SELECT A.LOC, A.RES AS RESOURCE, A.STARTDATE, ..."
23,68279-sql,sql,give me the underutilised resources for decemb...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
24,64172-doc,documentation,None,"When there is any unmet order, the process to..."
25,96343-sql,sql,How can we Improve PPGI product group Fill rates?,"SELECT DISTINCT ITEM, UDC_PRODUCT_GROUP, LOC, ..."
26,96341-sql,sql,How can we Improve NOSP product group Fill rates?,"SELECT DISTINCT ITEM, UDC_PRODUCT_GROUP, LOC, ..."
27,64158-doc,documentation,None,The following columns are in the RESPROJSTATIC...
28,64159-doc,documentation,None,The following columns are in the sourcing tabl...
29,92376-sql,sql,Give me the product groupwise Fillrates & diff...,"SELECT B.*, ROUND(A.METQTY,0) AS METQTY, ROUND..."
30,96353-sql,sql,Can you give me the most Underutilised Resourc...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
31,92249-sql,sql,What is the overall fil rate for the All Month,"SELECT B.*, ROUND(A.METQTY,0) AS METQTY, ROUND..."
32,68264-sql,sql,can you give me the MOST underutilised resourc...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
33,68244-sql,sql,"In which all plants, NOSP items can be produced",SELECT DISTINCT A.udc_product_group AS PRODUCT...
34,96232-sql,sql,Can you explain the columns in the INDDMDVIEW ...,"Select TABLE_CATALOG, TABLE_SCHEMA, TABLE_NAME..."
35,92532-sql,sql,Can we get different forecast order fill rates...,"SELECT B.*, ROUND(A.METQTY,0) AS METQTY, ROUND..."
36,68273-sql,sql,give me the underutilised resources monthwise,"SELECT DISTINCT DATEADD(MONTH, DATEDIFF(MONTH,..."
37,64162-doc,documentation,None,Numeric Formatting Guidelines:- Use commas in ...
38,92501-sql,sql,Can I see the complete details of demand satif...,"SELECT B.*, ROUND(A.METQTY,0) AS METQTY, ROUND..."
39,68266-sql,sql,can you please check is there any unmet demend...,"SELECT UDC_PRODUCT_FORM AS PRODUCT_FORM, UDC_C..."
40,64176-doc,documentation,None,Please do SQL Joins wherever it is required
41,64161-doc,documentation,None,DMDTYPE=2 (Forecast):- DMDTYPE=2 is indicative...
42,96358-sql,sql,How much Demand can we Increase in VJBRM1 Reso...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
43,92513-sql,sql,In which all plants & product groups items can...,SELECT DISTINCT A.udc_product_group AS PRODUCT...
44,20056-ddl,ddl,None,\n CREATE TABLE dbo.BOM (\n ITEM varchar...
45,96366-sql,sql,Can you please check is there any Unmet Demand...,"SELECT ITEM, SUM(QTY) AS UNMET_DEMAND\nFROM IN..."
46,68307-sql,sql,What is the total count of underutilized items...,SELECT COUNT(DISTINCT ITEM) AS TOTAL_UNDERUTIL...
47,96386-sql,sql,Give me the product groupwise Fillrates & diff...,"SELECT B.*, ROUND(A.METQTY,0) AS METQTY, ROUND..."
48,34571-ddl,ddl,None,\nCREATE TABLE dbo.INDDMDVIEW (SIMULATION_NAME...
49,68320-sql,sql,give me the summary of the bom table,"SELECT COUNT(DISTINCT ITEM) AS TOTAL_ITEMS, CO..."
50,92869-sql,sql,Are there any constraints in the supply path f...,"SELECT DISTINCT B.ITEM, B.LOC, A.RES AS CONSTR..."
51,68347-sql,sql,give me the details of my overall schema,SELECT *\nFROM INFORMATION_SCHEMA.TABLES\nWHER...
52,68286-sql,sql,give me the underutilised resources for decemb...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
53,68296-sql,sql,give me the items with resources for which the...,"SELECT DISTINCT ITEM, RES, STARTDATE, ROUND(PC..."
54,68350-sql,sql,give me the details of BOM TABLE,SELECT *\nFROM BOM;

In [53]:
# Sometimes you may want to add documentation about your business terminology or definitions. 
vn.train(documentation="How to use my most underutilised Resource then begin with, consider the scenario of underutilized resources. The query must first identify the affected product group, such as PPGI, and then systematically trace its production path through various intermediate products, including GI, TIN, CRCA, CRFH, HR, and SLAB, until reaching the origin, HOT METAL from RESPROJSTATIC Table. For instance, for PPGI, filter UDC_PRODUCT_GROUP from RESPROJSTATIC Table and identify all the resources STARTDATE wise and its AVAILCAP multiply with Average of UDC_PRODRATE Column for each RES,STARTDATE, UDC_PRODUCT_GROUP  wise in RESPROJSTATIC Table and calculate the estimated coverage demand which is equal to AVAILCAP multiply with Average of UDC_PRODRATE Column in RESPROJSTATIC Table And it should work same for all the UDC_PRODUCT_GROUP lying in the supply sequence which is equal to GI, TIN, CRCA, CRFH, HR, and SLAB, until reaching the origin, HOT METAL .PRODUCT GROUP	SUPPLY ITEMS PPGI	PPGI>GI>CRFH>HR>SLAB>HOT_METAL,  GI	GI>CRFH>HR>SLAB>HOT_METAL ,TIN	TIN>TMBP>CRAN>CRFH>HRPO>HR>SLAB>HOT_METAL ,CRCA	CRCA>CRFH>HR>SLAB>HOT_METAL ,CRFH	CRFH>HR>SLAB>HOT_METAL ,HR	HR>SLAB>HOT_METAL, SLAB	SLAB>HOT_METAL")

Adding documentation....

True

In [54]:
# At any time you can inspect what training data the package is able to reference
training_data = vn.get_training_data()
training_data

,id,training_data_type,question,content
0,107901-sql,sql,"What is the outward sales for all plants, all ...","SELECT d.Date, d.PLANT, d.PRODUCT_GROUP, CASE ..."
1,64160-doc,documentation,None,DMDTYPE=1 (Customer Order):- DMDTYPE=1 specifi...
2,68275-sql,sql,give me the underutilised resources for decemb...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
3,107890-sql,sql,What is the inward HR cosumption for coated pl...,"SELECT DISTINCT supplyloc AS PLANT, Supplyitem..."
4,68299-sql,sql,give me the count of items for which the reso...,SELECT COUNT(DISTINCT ITEM) AS UNDERUTILIZED_I...
...,...,...,...,...
72,107931-sql,sql,What are the column names and data types of a ...,"SELECT TABLE_CATALOG, TABLE_SCHEMA,TABLE_NAME,..."
73,68347-sql,sql,give me the details of my overall schema,SELECT *\nFROM INFORMATION_SCHEMA.TABLES\nWHER...
74,68286-sql,sql,give me the underutilised resources for decemb...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
75,68296-sql,sql,give me the items with resources for which the...,"SELECT DISTINCT ITEM, RES, STARTDATE, ROUND(PC..."
76,68350-sql,sql,give me the details of BOM TABLE,SELECT *\nFROM BOM;

In [9]:
# DDL statements are powerful because they specify table names, colume names, types, and potentially relationships
vn.train(ddl="""
CREATE TABLE dbo.INDDMDLINK (
    DMDITEM VARCHAR(MAX),
    DMDLOC VARCHAR(MAX),
    RELATEDSEQNUM VARCHAR(MAX),
    ORDERID VARCHAR(MAX),
    SHIPDATE DATE,
    DMDSEQNUM VARCHAR(MAX),
    DMDTYPE VARCHAR(MAX),
    SUPPLYTYPE VARCHAR(MAX),
    SUPPLYPEGQTY FLOAT,
    DMDPEGQTY FLOAT,
    SUPPLYSEQNUM VARCHAR(MAX),
    SUPPLYITEM VARCHAR(MAX),
    SUPPLYLOC VARCHAR(MAX),
    SUPPLYAVAILDATE DATE,
    DMDSCHEDDATE DATE,
    DMDNEEDDATE DATE,
    LOC VARCHAR(MAX),
    SIMULATION_NAME VARCHAR(MAX),
    DMDSUBTYPE VARCHAR(MAX),
    SUPPLYSUBTYPE VARCHAR(MAX),
    DMDNEEDQTY FLOAT,
    PRODCOST FLOAT,
    SOURCINGCOST FLOAT,
    PURCHCOST FLOAT,
    INHANDLINGCOST FLOAT,
    OUTHANDLINGCOST FLOAT,
    INVCARRYINGCOST FLOAT,
    DMDGROUP VARCHAR(MAX),
    CUST VARCHAR(MAX),
    SUPPLYSUBSEQNUM VARCHAR(MAX),
    SCHEDSEQNUM VARCHAR(MAX),
    SUPPLYMETHOD VARCHAR(MAX),
    PARENTSUPPLYMETHOD VARCHAR(MAX),
    INDDMDPRIORITY INT,
    PARENTITEM VARCHAR(MAX),
    PARENTLOC VARCHAR(MAX),
    PARENTSUPPLYTYPE INT,
    PARENTSUPPLYSEQNUM VARCHAR(MAX),
    PARENTSUPPLYSTARTDATE DATE,
    SCHEDSTARTDATE DATE,
    PARENTSUPPLYSCHEDDATE DATE,
    UDC_MTSR_DMDGROUP VARCHAR(MAX),
    UDC_BATCHID VARCHAR(MAX),
    UDC_SALES_ORDERID VARCHAR(MAX),
    UDC_ORIGINAL_SUPPLYMETHOD VARCHAR(MAX),
    UDC_OG_PARENTSUPPLYMETHOD VARCHAR(MAX),
    UDC_CUSTOMER_TYPE VARCHAR(MAX),
    UDC_ORDERID VARCHAR(MAX),
    UDC_DMDSEQNUM VARCHAR(MAX),
    UDC_RELATEDSEQNUM VARCHAR(MAX),
    UDC_PARENT_FG INT,
    UDC_SUPPLY_PARENT VARCHAR(MAX),
    UDC_FG_LOC INT,
    UDC_PARENT_LOC VARCHAR(MAX),
    UDC_SUPPLY_PARENT_LOC VARCHAR(MAX),
    UDC_FG VARCHAR(MAX),
    UDC_SEGMENT VARCHAR(MAX),
    PARENTRELATEDSEQNUM VARCHAR(MAX),
    UDC_PARENTLOC VARCHAR(MAX),
    UDC_RES_SUPPLYMETHOD VARCHAR(MAX),
    UDC_RES_PARENTSUPPLYMETHOD VARCHAR(MAX),
    DMDITEM_GROUP VARCHAR(MAX),
    SUPPLYITEM_GROUP VARCHAR(MAX)
);


""")

Adding ddl:
CREATE TABLE dbo.INDDMDLINK (
    DMDITEM VARCHAR(MAX),
    DMDLOC VARCHAR(MAX),
    RELATEDSEQNUM VARCHAR(MAX),
    ORDERID VARCHAR(MAX),
    SHIPDATE DATE,
    DMDSEQNUM VARCHAR(MAX),
    DMDTYPE VARCHAR(MAX),
    SUPPLYTYPE VARCHAR(MAX),
    SUPPLYPEGQTY FLOAT,
    DMDPEGQTY FLOAT,
    SUPPLYSEQNUM VARCHAR(MAX),
    SUPPLYITEM VARCHAR(MAX),
    SUPPLYLOC VARCHAR(MAX),
    SUPPLYAVAILDATE DATE,
    DMDSCHEDDATE DATE,
    DMDNEEDDATE DATE,
    LOC VARCHAR(MAX),
    SIMULATION_NAME VARCHAR(MAX),
    DMDSUBTYPE VARCHAR(MAX),
    SUPPLYSUBTYPE VARCHAR(MAX),
    DMDNEEDQTY FLOAT,
    PRODCOST FLOAT,
    SOURCINGCOST FLOAT,
    PURCHCOST FLOAT,
    INHANDLINGCOST FLOAT,
    OUTHANDLINGCOST FLOAT,
    INVCARRYINGCOST FLOAT,
    DMDGROUP VARCHAR(MAX),
    CUST VARCHAR(MAX),
    SUPPLYSUBSEQNUM VARCHAR(MAX),
    SCHEDSEQNUM VARCHAR(MAX),
    SUPPLYMETHOD VARCHAR(MAX),
    PARENTSUPPLYMETHOD VARCHAR(MAX),
    INDDMDPRIORITY INT,
    PARENTITEM VARCHAR(MAX),
    PARENTLOC VARCHAR(MAX),
    PARENTSUPPLYTYPE INT,
    PARENTSUPPLYSEQNUM VARCHAR(MAX),
    PARENTSUPPLYSTARTDATE DATE,
    SCHEDSTARTDATE DATE,
    PARENTSUPPLYSCHEDDATE DATE,
    UDC_MTSR_DMDGROUP VARCHAR(MAX),
    UDC_BATCHID VARCHAR(MAX),
    UDC_SALES_ORDERID VARCHAR(MAX),
    UDC_ORIGINAL_SUPPLYMETHOD VARCHAR(MAX),
    UDC_OG_PARENTSUPPLYMETHOD VARCHAR(MAX),
    UDC_CUSTOMER_TYPE VARCHAR(MAX),
    UDC_ORDERID VARCHAR(MAX),
    UDC_DMDSEQNUM VARCHAR(MAX),
    UDC_RELATEDSEQNUM VARCHAR(MAX),
    UDC_PARENT_FG INT,
    UDC_SUPPLY_PARENT VARCHAR(MAX),
    UDC_FG_LOC INT,
    UDC_PARENT_LOC VARCHAR(MAX),
    UDC_SUPPLY_PARENT_LOC VARCHAR(MAX),
    UDC_FG VARCHAR(MAX),
    UDC_SEGMENT VARCHAR(MAX),
    PARENTRELATEDSEQNUM VARCHAR(MAX),
    UDC_PARENTLOC VARCHAR(MAX),
    UDC_RES_SUPPLYMETHOD VARCHAR(MAX),
    UDC_RES_PARENTSUPPLYMETHOD VARCHAR(MAX),
    DMDITEM_GROUP VARCHAR(MAX),
    SUPPLYITEM_GROUP VARCHAR(MAX)
);

True

In [60]:
# At any time you can inspect what training data the package is able to reference
training_data = vn.get_training_data()
training_data

,id,training_data_type,question,content
0,107901-sql,sql,"What is the outward sales for all plants, all ...","SELECT d.Date, d.PLANT, d.PRODUCT_GROUP, CASE ..."
1,64160-doc,documentation,None,DMDTYPE=1 (Customer Order):- DMDTYPE=1 specifi...
2,68275-sql,sql,give me the underutilised resources for decemb...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
3,107890-sql,sql,What is the inward HR cosumption for coated pl...,"SELECT DISTINCT supplyloc AS PLANT, Supplyitem..."
4,68299-sql,sql,give me the count of items for which the reso...,SELECT COUNT(DISTINCT ITEM) AS UNDERUTILIZED_I...
...,...,...,...,...
76,107931-sql,sql,What are the column names and data types of a ...,"SELECT TABLE_CATALOG, TABLE_SCHEMA,TABLE_NAME,..."
77,68347-sql,sql,give me the details of my overall schema,SELECT *\nFROM INFORMATION_SCHEMA.TABLES\nWHER...
78,68286-sql,sql,give me the underutilised resources for decemb...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
79,68296-sql,sql,give me the items with resources for which the...,"SELECT DISTINCT ITEM, RES, STARTDATE, ROUND(PC..."
80,68350-sql,sql,give me the details of BOM TABLE,SELECT *\nFROM BOM;

In [18]:
# You can also add SQL queries to your training data. This is useful if you have some queries already laying around. You can just copy and paste those from your editor to begin generating new SQL.
vn.train(question= "Give me the Resource Utilisation for all Campaign Constraints for all months",
    sql="SELECT DISTINCT LOC AS PLANT, RES AS RESOURCE, STARTDATE, ROUND(PCTUSED, 0) AS RESOURCE_UTILIZATION, ROUND(SUM(UDC_TOTAL_QTY),0) AS TOTAL_QTY, ROUND(AVAILCAP, 0) AS REMAINING_CAPACITY FROM RESPROJSTATIC WHERE loc != '' AND RES LIKE '%DUMMY%' GROUP BY LOC, RES, STARTDATE, PCTUSED, AVAILCAP ORDER BY RESOURCE_UTILIZATION DESC;")

True

In [21]:
# You can also add SQL queries to your training data. This is useful if you have some queries already laying around. You can just copy and paste those from your editor to begin generating new SQL.
vn.train(sql="SELECT TABLE_CATALOG, TABLE_SCHEMA,TABLE_NAME, COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS where TABLE_CATALOG = 'GEN_AI'")

Question generated with sql: What are the column names and data types of all tables in the 'GEN_AI' database?
Adding SQL...

True

In [50]:
# At any time you can inspect what training data the package is able to reference
training_data = vn.get_training_data()
training_data

,id,training_data_type,question,content
0,107901-sql,sql,"What is the outward sales for all plants, all ...","SELECT d.Date, d.PLANT, d.PRODUCT_GROUP, CASE ..."
1,64160-doc,documentation,None,DMDTYPE=1 (Customer Order):- DMDTYPE=1 specifi...
2,68275-sql,sql,give me the underutilised resources for decemb...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
3,107890-sql,sql,What is the inward HR cosumption for coated pl...,"SELECT DISTINCT supplyloc AS PLANT, Supplyitem..."
4,68299-sql,sql,give me the count of items for which the reso...,SELECT COUNT(DISTINCT ITEM) AS UNDERUTILIZED_I...
...,...,...,...,...
72,107931-sql,sql,What are the column names and data types of a ...,"SELECT TABLE_CATALOG, TABLE_SCHEMA,TABLE_NAME,..."
73,68347-sql,sql,give me the details of my overall schema,SELECT *\nFROM INFORMATION_SCHEMA.TABLES\nWHER...
74,68286-sql,sql,give me the underutilised resources for decemb...,"SELECT DISTINCT LOC, RES, STARTDATE, ROUND(PCT..."
75,68296-sql,sql,give me the items with resources for which the...,"SELECT DISTINCT ITEM, RES, STARTDATE, ROUND(PC..."
76,68350-sql,sql,give me the details of BOM TABLE,SELECT *\nFROM BOM;

In [51]:
# This code will basically save the csv file where the training data is there stored Run this if you want to see t-data in csv
import pandas as pd
training_data.to_csv('training_data.csv', index=False)

In [52]:
# You can remove training data if there's obsolete/incorrect information. 
vn.remove_training_data(id='133198-doc')

True

In [62]:
vn.ask(question= "What is the maximum throughput for each resource in the PPGI supply sequence?")


 # To calculate How to utilise my UnderUtilise Resources

SELECT DISTINCT r.RES, r.MAXTPH
FROM RESPROJSTATIC r
WHERE r.ITEM IN ('GI', 'CRFH', 'HR', 'SLAB', 'HOT_METAL')
    AND r.RES NOT LIKE '%DUMMY%'
ORDER BY r.RES;

Empty DataFrame
Columns: [RES, MAXTPH]
Index: []

AI-generated follow-up questions:

* What is the estimated coverage demand for each resource in the PPGI supply sequence?
* What is the resource utilization for each resource in the PPGI supply sequence?
* What is the planned quantity for each resource in the PPGI supply sequence?
* What is the increase in demand for each resource in the PPGI supply sequence?
* What is the total supply quantity for each plant in the PPGI supply sequence?
* What is the sourcing cost for each item in the sourcing table?
* What is the lead time for each item in the sourcing table?
* What is the draw quantity for each item in the BOM table?
* What is the discontinued date for each item in the BOM table?
* What is the selling price for each item in the INDDMDVIEW table?

In [81]:
sql, df, fig, followup_questions = vn.ask(question= "give me the underutilised resources monthwise",
            print_results = False,
            auto_train = True)

In [60]:
followup_questions

NameError: name 'followup_questions' is not defined